@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply text-DarkGrayishBlue text-2xl font-semibold mb-6 md:text-4xl;
  }
  h4 {
    @apply text-xl mb-2 font-semibold text-DarkGrayishBlue;
  }
}

.text-container {
  @apply text-GrayishBlue text-lg max-w-3xl mx-auto font-normal;
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-8;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

body {
  background: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 580px) {
  body {
    background: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
